{% extends 'core/base.html' %}
{% load static %}
{% block title %}
<title>Services</title>
{% endblock title %}
 <!-- service content is defined belwo in block -->

 {% block content %}
 <div class="m-5 ">
    <h1 class="text-warning">SERVICES</h1>
    <hr class="text-warning">

    <div class="container container-fluid text-center ss-color">
        <!-- 1st row starts contains SEO, Web Design, Web Development -->
        <div class="row">
            <div class="col-sm-4">
                <i class="fa-solid fa-magnifying-glass-dollar fa-2x i-color"></i>
                <h3>SEO</h3>
                <p class="ss-color">Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                    Voluptate iusto saepe incidunt, libero ut tempore?</p>
            </div>

            <div class="col-sm-4">
                <i class="fa-solid fa-magnifying-glass-dollar fa-2x i-color"></i>
                <h3>Web Design</h3>
                <p class="ss-color">Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                    Voluptate iusto saepe incidunt, libero ut tempore?</p>
            </div>
            
            <div class="col-sm-4">
                <i class="fa-solid fa-magnifying-glass-dollar fa-2x i-color"></i>
                <h3>Web Development</h3>
                <p class="ss-color">Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                    Voluptate iusto saepe incidunt, libero ut tempore?</p>
            </div>
        </div>
        <!-- 1st row Ends contains SEO, Web Design, Web Development -->
        <!-- 2ndst row starts contains Android, ios, adertising -->
        <div class="row">
            <div class="col-sm-4">
                <i class="fa-brands fa-android fa-2x i-color"></i>
                <h3>Android</h3>
                <p class="ss-color">Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                    Voluptate iusto saepe incidunt, libero ut tempore?</p>
            </div>

            <div class="col-sm-4">
                <i class="fa-brands fa-apple fa-2x i-color"></i>
                <h3>IOS</h3>
                <p class="ss-color">Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                    Voluptate iusto saepe incidunt, libero ut tempore?</p>
            </div>
            
            <div class="col-sm-4">
                <i class="fa-solid fa-rectangle-ad fa-2x i-color"></i>
                <h3>Advertising</h3>
                <p class="ss-color">Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                    Voluptate iusto saepe incidunt, libero ut tempore?</p>
            </div>
        </div>
        <!-- 2ndst row Ends -->
        <!-- 3rd row starts -->
        <div class="row">
            <div class="col-sm-4">
                <i class="fa-solid fa-server fa-2x i-color"></i>
                <h3>Hosting</h3>
                <p class="ss-color">Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                    Voluptate iusto saepe incidunt, libero ut tempore?</p>
            </div>

            <div class="col-sm-4">
                <i class="fa-solid fa-marker fa-2x i-color"></i>
                <h3>Logo Design</h3>
                <p class="ss-color">Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                    Voluptate iusto saepe incidunt, libero ut tempore?</p>
            </div>
            
            <div class="col-sm-4">
                <i class="fa-solid fa-headset fa-2x i-color"></i>
                <h3>Support</h3>
                <p class="ss-color">Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                    Voluptate iusto saepe incidunt, libero ut tempore?</p>
            </div>
        </div>
        <!-- 3rd row ends -->

    </div>

 </div>

 {% endblock content %}