<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>from data will be shown here </h2>
    <hr>
    <form action="" method="get">
     <table>   
       {{form}} 
       <!-- django form ko pupulate karne ka kuch dusra tarika {{form}} ke alawa. 
        {{form.as_table}}, {{form.as_p}}, {{form.as_li}}, and
        printing specificaly by name {{form.name}}, {{form.email}}-->
     </table>
      <input type="button" value="Submit">
    </form>
</body>
</html>