{% extends 'core/base.html' %}
{% load static %}
{% block tittle %} Course Page Title {% endblock tittle %}
{% block core_css %}
<!-- block.super variable base.html ka porperty ko child html file me append kr deta hai -->
<!-- eg. base.html ka core_css block ka content ko iiss file ke style.css se append kr dega. 
is tarah dono css ko use kr sakte hai.  -->
    {{block.super}}
    <link rel="stylesheet" href="{% static 'course/css/style.css' %}"> 
{% endblock core_css %}
{% block content %} 
<h2>
    Course Page contentet block used here  
</h2> 
{% endblock content %}